# Arquivos do Android Studio
*.iml
.idea/
.DS_Store

# Build
.gradle/
build/
app/build/
captures/
.cxx/
.externalNativeBuild/

# Configurações locais (NUNCA subir)
local.properties
.env
env.properties

# Outros
*.apk
*.aar
*.keystore
*.jks
